# Amazon Best Sellers

Análise realizada a partir do dataset:
[Amazon Top 50 Bestselling Books 2009 - 2019](https://www.kaggle.com/datasets/sootersaalu/amazon-top-50-bestselling-books-2009-2019).

## 1. Importação de Bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.figure_factory as ff

## 2. Base de dados

In [3]:
amazon = pd.read_csv('amazon_bestsellers.csv')
amazon.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [4]:
amazon.tail()

,Name,Author,User Rating,Reviews,Price,Year,Genre
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [5]:
amazon

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [14]:
# Dimensão dos dados:
amazon.shape

(550, 7)

In [16]:
print(f'O dataframe contém: {amazon.shape[0]} resgistros (linhas) e {amazon.shape[1]} colunas.')

O dataframe contém: 550 resgistros (linhas) e 7 colunas.

## 3. Informações do Dataset

In [8]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

O dataset contém 3 colunas de valores categóricos e 4 colunas de valores numéricos. Não possui nenhum valor faltante.

In [9]:
amazon.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

A função _describe()_ fornece as seguintes informações das variáveis numéricas do dataset: 
- _count_ ---> número de registros  
- _mean_ ---> média dos valores
- _std_ ------> desvio padrão
- _min_ -----> valor mínimo
- _25%_ ----> primeiro quartil
- _50%_ ----> segundo quartil ou mediana
- _75%_ ----> terceiro quartil
- _max_ ----> valor máximo

## 4. Análise Exploratória

### 4.1 Valores Duplicados

In [17]:
# Formatando colunas categóricas:
coluna_categorica = list(amazon.select_dtypes(exclude=('int', 'float')).columns)

print(f'Colunas com valores categóricos: {", ".join(coluna_categorica)}.')

Colunas com valores categóricos: Name, Author, Genre.

In [20]:
# Analisando colunas com valores duplicados:
for coluna in coluna_categorica:
    if amazon[coluna].duplicated().any() == True:
        print (f'A coluna {coluna} contém valores duplicados.')
    else:
        print (f'A coluna {coluna} não contém valores duplicados.')

A coluna Name contém valores duplicados.
A coluna Author contém valores duplicados.
A coluna Genre contém valores duplicados.

### 4.2 Erros e Correções

Vamos agora verificar se as colunas acima contêm palavras que diferem apenas por letras maiúsculas e minúsculas e por espaços extras.

In [23]:
# Verificando erros de digitação:
for coluna in coluna_categorica:
    print(f'{coluna}(antes): {len(set(amazon[coluna]))}'
          f' | {coluna}(depois): {len(set(amazon[coluna].str.title().str.strip()))}')

Name(antes): 351 | Name(depois): 350
Author(antes): 248 | Author(depois): 248
Genre(antes): 2 | Genre(depois): 2

Assim, foi verificado que houve 1 erro de digitação na coluna _Name_.

#### Coluna _Name_:

In [24]:
# Corrigindo erro de digitação:
amazon['Name'] = amazon['Name'].str.title().str.strip()

In [25]:
# Verificando se os erros de ortografia foram corrigidos:
for coluna in coluna_categorica:
    print(f'{coluna}(antes): {len(set(amazon[coluna]))}'
          f' | {coluna}(depois): {len(set(amazon[coluna].str.title().str.strip()))}')

Name(antes): 350 | Name(depois): 350
Author(antes): 248 | Author(depois): 248
Genre(antes): 2 | Genre(depois): 2

#### Coluna _Author_:

Vamos verificar se há nomes de autores repetidos, porém escritos com grafias diferentes.

In [33]:
# Analisando todos os valores da coluna de autores:
authors = amazon['Author'].sort_values().unique()
authors

array(['Abraham Verghese', 'Adam Gasiewski', 'Adam Mansbach', 'Adir Levy',
       'Admiral William H. McRaven', 'Adult Coloring Book Designs',
       'Alan Moore', 'Alex Michaelides', 'Alice Schertle', 'Allie Brosh',
       'American Psychiatric Association',
       'American Psychological Association', 'Amor Towles', 'Amy Ramos',
       'Amy Shields', 'Andy Weir', 'Angie Grace', 'Angie Thomas',
       'Ann Voskamp', 'Ann Whitford Paul', 'Anthony Bourdain',
       'Anthony Doerr', 'Atul Gawande', 'Audrey Niffenegger',
       'B. J. Novak', 'Bessel van der Kolk M.D.', 'Bill Martin Jr.',
       "Bill O'Reilly", 'Bill Simmons', 'Blue Star Coloring',
       'Bob Woodward', 'Brandon Stanton', 'Brené Brown',
       'Brian Kilmeade', 'Bruce Springsteen', 'Carol S. Dweck',
       'Celeste Ng', 'Charlaine Harris', 'Charles Duhigg',
       'Charles Krauthammer', 'Cheryl Strayed', 'Chip Gaines',
       'Chip Heath', 'Chris Cleave', 'Chris Kyle', 'Chrissy Teigen',
       'Christina Baker Kline', 'Christopher Paolini',
       'Coloring Books for Adults', 'Craig Smith', 'Crispin Boyer', 'DK',
       'Dale Carnegie', 'Dan Brown', 'Daniel H. Pink',
       'Daniel James Brown', 'Daniel Kahneman', 'Daniel Lipkowitz',
       'Dav Pilkey', 'Dave Ramsey', 'David Goggins', 'David Grann',
       'David McCullough', 'David Perlmutter MD', 'David Platt',
       'David Zinczenko', 'Deborah Diesen',
       'Delegates of the Constitutional\x85', 'Delia Owens',
       'Dinah Bucholz', 'Don Miguel Ruiz', 'Donna Tartt', 'Doug Lemov',
       'Dr. Seuss', 'Dr. Steven R Gundry MD', 'Drew Daywalt', 'E L James',
       'Eben Alexander', 'Edward Klein', 'Edward M. Kennedy',
       'Elie Wiesel', 'Elizabeth Strout', 'Emily Winfield Martin',
       'Eric Carle', 'Eric Larson', 'Ernest Cline', 'F. A. Hayek',
       'F. Scott Fitzgerald', 'Francis Chan', 'Fredrik Backman', 'Gallup',
       'Garth Stein', 'Gary Chapman', 'Gayle Forman', 'Geneen Roth',
       'George Orwell', 'George R.R. Martin', 'George W. Bush',
       'Giles Andreae', 'Gillian Flynn', 'Glenn Beck', 'Golden Books',
       'Greg Mortenson', 'Harper Lee', 'Heidi Murkoff',
       'Hillary Rodham Clinton', 'Hopscotch Girls', 'Howard Stern',
       'Ian K. Smith M.D.', 'Ina Garten', 'J. D. Vance', 'J.K. Rowling',
       'JJ Smith', 'James Comey', 'James Dashner', 'James Patterson',
       'Jay Asher', 'Jaycee Dugard', 'Jeff Kinney', 'Jen Sincero',
       'Jennifer Smith', 'Jill Twiss', 'Jim Collins', 'Joanna Gaines',
       'Joel Fuhrman MD', 'Johanna Basford', 'John Green', 'John Grisham',
       'John Heilemann', 'Jon Meacham', 'Jon Stewart', 'Jonathan Cahn',
       'Jordan B. Peterson', 'Julia Child', 'Justin Halpern',
       'Kathryn Stockett', 'Keith Richards', 'Ken Follett', 'Kevin Kwan',
       'Khaled Hosseini', 'Kristin Hannah', 'Larry Schweikart',
       'Laura Hillenbrand', 'Laurel Randolph', 'Lin-Manuel Miranda',
       'Lysa TerKeurst', 'M Prefontaine', "Madeleine L'Engle",
       'Malcolm Gladwell', 'Margaret Atwood', 'Margaret Wise Brown',
       'Marie Kondō', 'Marjorie Sarnat', 'Mark Hyman M.D.', 'Mark Manson',
       'Mark Owen', 'Mark R. Levin', 'Mark Twain', 'Markus Zusak',
       'Marty Noble', 'Mary Ann Shaffer', 'Maurice Sendak',
       'Melissa Hartwig Urban', 'Michael Lewis', 'Michael Pollan',
       'Michael Wolff', 'Michelle Obama', 'Mike Moreno', 'Mitch Albom',
       'Muriel Barbery', 'Naomi Kleinberg', 'Nathan W. Pyle',
       'National Geographic Kids', 'Neil deGrasse Tyson',
       'Paper Peony Press', 'Patrick Lencioni', 'Patrick Thorpe',
       'Paul Kalanithi', 'Paula Hawkins', 'Paula McLain', 'Paulo Coelho',
       'Pete Souza', 'Peter A. Lillback', 'Phil Robertson',
       'Pierre Dukan', 'Pretty Simple Press', 'R. J. Palacio',
       'RH Disney', 'Rachel Hollis', 'Raina Telgemeier', 'Randall Munroe',
       'Randy Pausch', 'Ray Bradbury', 'Rebecca Skloot', 'Ree Drummond',
       'Rick Riordan', 'Rob Bell', 'Rob Elliott', 'Robert Jordan',
       'Robert Munsch', 'Rod Campbell', 'Roger Priddy', 'Ron Chernow',
       'Rupi Kaur', 'Rush Limbaugh', 'Samin Nosrat', 'Sandra Boynton',
       'Sara Gruen', 'Sarah Palin', 'Sarah Young', "Sasha O'Hara",
       'Scholastic', 'School Zone', 'Sherri Duskey Rinker',
       'Sheryl Sandberg', 'Silly Bear', 'Stephen Kendrick',
       'Stephen King', 'Stephen R. Covey', 'Stephenie Meyer',
       'Steve Harvey', 'Steven D. Levitt', 'Stieg Larsson', 'Susan Cain',
       'Suzanne Collins', 'Ta-Nehisi Coates', 'Tara Westover',
       'Tatiana de Rosnay', 'The College Board',
       'The Staff of The Late Show with\x85', 'The Washington Post',
       'Thomas Campbell', 'Thomas Piketty', 'Thug Kitchen',
       'Timothy Ferriss', 'Tina Fey', 'Todd Burpo', 'Tony Hsieh',
       'Tucker Carlson', 'Veronica Roth', 'W. Cleon Skousen',
       'Walter Isaacson', 'William Davis', 'William P. Young',
       'Wizards RPG Team', 'Zhi Gang Sha'], dtype=object)

Os seguintes nomes de autores:
- George R. R. Martin 
- George R.R. Martin 
- J. K. Rowling 
- J.K. Rowling 

têm grafias diferentes, embora sejam os mesmos autores.

In [27]:
# Substituindo os nomes dos autores:
amazon = amazon.replace('George R. R. Martin', 'George R.R. Martin')
amazon = amazon.replace('J. K. Rowling', 'J.K. Rowling')

In [28]:
# Verificando se as alterações foram bem sucedidas:
for coluna in coluna_categorica:
    print(f'{coluna}(antes): {len(set(amazon[coluna]))}'
          f' | {coluna}(depois): {len(set(amazon[coluna].str.title().str.strip()))}')

Name(antes): 350 | Name(depois): 350
Author(antes): 246 | Author(depois): 246
Genre(antes): 2 | Genre(depois): 2

#### Coluna _Genre_:

In [32]:
# Verificando os valores da coluna de gêneros:
genre = amazon['Genre'].unique()
genre

array(['Non Fiction', 'Fiction'], dtype=object)

#### Coluna _Year_:

In [31]:
# Verificando a coluna dos anos:
years = list(amazon['Year'].unique())
sorted(years)

[2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

#### Coluna _User Rating_:

In [34]:
# Verificando a coluna de avaliações dos usuários:
rating = list(amazon['User Rating'].unique())
sorted(rating)

[3.3, 3.6, 3.8, 3.9, 4.0, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9]

### Conclusão:

A partir desta primeira análise, foi possível obter as seguintes informações:
- Estamos analisando os best sellers da Amazon de 2009-2019.
- Os dados contêm 350 títulos de livros diferentes.
- Os livros foram escritos por 246 autores. 
- Todos os livros são apresentados em duas categorias (Não Ficção, Ficção).
- As avaliações dos leitores vão de 3.3 a 4.9